*
!.gitignore

!.vscode/
.vscode/*
!.vscode/settings.json

!docker/
!docker/*.conf

!examples/
!examples/**/
!examples/**/*

!src/
!src/**/
!src/**/*.php

!.editorconfig
!.php-cs-fixer.php
!.prettierrc.json
!psalm.xml

!*.md

!docker-openswoole-example.sh
!docker-ping-example.sh

!composer.json
!composer.lock

!package.json
!package-lock.json
